body{
    background-color: #FFFFFF;
    text-decoration-color: #666666;
    font: Verdana;
    font: Arial;
    font-family: sans-serif;
}

header{
    background-color: #003058;
    text-decoration-color: #FFFFFF;
    font: Georgia;
    font-family: serif;
}

header h1{
    line-height: 140%;
    padding: .5rem;
}

nav{
    background-color: #F3F3F3;
    font-weight: bold;
}

header h2{
    text-decoration-color: #424242;
    font: Georgia;
    font-family: sans-serif;
}

dt{
    text-decoration-color: #003058;
    font-weight: bold;
}

.ut{
    text-decoration-color: #BA1C21;
    font-weight: bold;
}

footer{
    font-size: .70rem;
    font-style: italic;
    font-display: center;
}

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}